body {
    background-image: url(../images/homeintrobackground.jpg);
    background-repeat: no-repeat;
    max-width: 100%;
    height: auto;
    background-position: center center;
    text-align: center;
    margin: auto;
    padding: 0;
}

#wrapper {
    margin-left: 20%;
    margin-right: 20%;
    background-color: aliceblue;
    height: 500px;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-style: solid;
    border-color: rgb(49, 63, 75);
    border-width: 5px;
}

main {
    padding: 5%;
}

.navi {
    width: 20%;
    height: 340px;
    float: right;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(166, 173, 179);
    padding-right: 2%;
    padding-left: 2%;
    padding-bottom: 0%;
    padding-top: 80px;
    font-size: 20px;
    color: rgb(49, 63, 75);
}

.navi p {
    list-style-type: none;
    margin-top: 20px;
}

.navi a {
    font-size: 20px;
    color: rgb(49, 63, 75);
    list-style-type: none;
    text-decoration: none;
}

.navi a:hover {
    color: rgb(0, 0, 0);
}

.tortilla {
    width: 65%;
    height: 390px;
    float: left;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(166, 173, 179);
    font-size: 20px;
    padding: 2%;
    color: rgb(49, 63, 75);
}

.tortilla img {
    margin-top: 45px;
    margin-left: 15px;
    height: 300px;
    width: 320px;
    float: left;
    animation: roll 15s infinite;
    transform: rotate(30deg);
}

@keyframes roll {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

.tortilla p {
    margin-top: 80px;
    margin-left: 20px;
    float: right;
    width: 100px;
}

.cowie {
    text-align: center;
    margin-top: 440PX;
}

.cowie a {
    color: aliceblue;
    text-decoration: none;
    font-size: 20px;
}

.cowie a:hover {
    color: rgb(219, 225, 231);
}

header {
    margin-top: 40px;
    text-align: center;
}

header a {
    text-transform: uppercase;
    color: aliceblue;
    font-size: 25px;
    word-spacing: 2px;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    #wrapper {
        margin-left: 10%;
        margin-right: 10%;
        height: 500px;
        width: 80%;
    }

    header {
        font-size: 15px;
        margin-left: 10%;
        margin-right: 10%;
        word-spacing: 0;
        margin-top: 0px;
    }
}

@media only screen and (max-width: 768px) {
    #wrapper {
        margin-left: 10%;
        margin-right: 10%;
        height: 430px;
        width: 80%;
    }

    header {
        font-size: 15px;
        margin-left: 10%;
        margin-right: 10%;
        word-spacing: 0;
        margin-top: 0px;
    }

    .navi {
        float: none;
        height: 40px;
        width: 95%;
        padding: 1%;
    }

    .navi p {
        margin-top: 5%;
        vertical-align: top;
        display: inline-block;
        padding: 1%;
        margin-right: 7px;
        margin-left: 7px;
    }

    .tortilla {
        float: none;
        margin-top: 20px;
        height: 320px;
        width: 95%;
    }

    .tortilla img {
        float: none;
        height: 200px;
        width: 220px;
        margin-top: 20px;
        margin-left: 12px;
        margin-right: 15px;
    }

    .tortilla p {
        margin: 1%;
        float: none;
        font-size: 15px;
        vertical-align: top;
        display: inline-block;
        width: 220px;
    }

    .cowie {
        margin-top: 40px;
        padding-bottom: 5%;
    }
}